<style>
a:link {
   color: white;
}

/* link que foi visitado */
a:visited {
    color: white;
}

/* mouse over */
a:hover {
    color: white;
}

/* link selecionado */
a:active {
    color: white;
}

   .table {

        margin: 30px 0px 0px 0px;
        border: 1px solid black;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        

      
    }

    .colunas_tabela {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

  .opacidade {

    opacity: 80%;
  }

  .btn-primary {

    font-size: 20px;
    margin: 30px;
    background-color: #fe60c9;
    color: black;
    border: none;
  }

  .btn-primary:hover {

    background-color: #ff59cb;
  }
</style>
<div class="header">
  <br><br><br><br>
<form action="/projeto/sequencia" method="post">
<div class="container">
<table class="table table-striped">
            <thead>
              <br><br>
              <tr> <center><h3>Sequência Operacional</h3></center></tr>
                <tr class="colunas_tabela">
                    <th scope="col">Máquina:</th>
                    <th scope="col">Descrição:</th>
                    <th scope="col">Tempo:</th>
                </tr>
            </thead>
            <tbody>
              {{#each sequencia}}
              
                    <th scope="row"> {{maquina}}</th>
                    <td scope="row">{{descricao}}</td>
                    <td scope="row">{{tempo}}</td>                    
                     </tr>
                  {{/each}}

            </tbody>
        </table>
<br>
<br>
<br>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <label for="maquina">Nome da Máquina</label>
      <input type="text" name="maquina" id="maquina" placeholder="Insira o Nome da Máquina" class="form-control">
    </div>
    <div class="col-sm">
     <label for="desc">Descrição</label>
      <input type="text" name="desc" id="desc" placeholder="Insira a Descrição do Trabalho Feito" class="form-control">
    </div>
    <div class="col-sm">
     <label for="tempo">Tempo</label>
      <input type="number" name="tempo" id="tempo" placeholder="Insira o Tempo Gasto em Minutos " class="form-control">
    </div>
  </div>
</div>
{{#each projeto}}
<input type="hidden" name="projeto" id="projeto" value="{{id}}">
{{else}}

{{/each }}
<br>
<center><button type="submit" class="btn btn-dark">  Cadastrar  </button></center>
<br><br>  
 <center> <button class="btn btn-primary"> <a href="/projeto">Finalizar cadastro</a></center></button>
 <br><br><br>
</form>

</div>

<div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>

            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>